


// .button {
//   border: 1px solid #000;
//   border-radius: 50%;
//   //   height: 40px;
//   //   width: 40px;
//   //   text-align: center;
//   //   vertical-align: center;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
// }

// .select_timelist {
//   // max-width: 500px;
//   display: flex;
//   padding: 20px;

//   .select_list {
//     list-style: none;

//     display: flex;
//     flex-direction: row;
//     justify-content: left;
//     flex-wrap: wrap;
//     padding: 0;
//     margin: 0;
//   }

//   .select_time {
//     margin-top: 5px;
//     margin-left: 5px;
//     &.selected {
//       color: hotpink;
//     }
//   }

//   .select_time {
//     width: max-content;
//     height: auto;
//     display: flex;
//     padding: 0;
//   }
// }
